
<section class="w3l-cover-3">
    <div class="cover top-bottom">
        <div class="container">
            <div class="middle-section text-center">
                <div class="section-width">
                    <p>Hayalinizdeki Eve Sahip Olun</p>
                    <h2>Bugün Sizin için Doğru Evi Bulalım</h2>
                    <div class="most-searches">
                        <h4>Sık Arananlar</h4>

                        <ul>
                            @foreach (var item in ViewBag.populars)
                            {
                                <li><a href="/Property/Index?searchKeyvalue=@item">@item</a></li>
                            }
                        </ul>
                    </div>
                    <form action="/Property/Index/" class="w3l-cover-3-gd" method="GET">
                        <input type="search" name="searchKeyValue" placeholder="Kelime Girin">
                        <span class="input-group-btn">
                            <select class="form-select" name="propertyCategoryId" asp-items="ViewBag.catList" id="pCategoryId"></select>
                        </span>
                        <span class="input-group-btn" id="pCity">
                            @await Component.InvokeAsync("_DefaultFeatureCitiesComponentPartial")

                        </span>
                        <button type="submit" class="btn-primary">Ara</button>
                    </form>

                </div>
                <section id="bottom" class="demo">
                    <a href="/Property/Index/"><span></span>İlan Listesi</a>
                </section>
            </div>
        </div>
    </div>        
</section>
<script src="~/js/getcities.js"></script>
